.proposal-page {
    padding: 35px 0;
    position: relative;
}

.proposal-navigation {
    top: 1rem;
}

.proposal-section {
    background-color: #fff;
    padding: 2.7cm 2cm 2.7cm 2cm;
    min-height: 8cm;

    & {
        margin-bottom: 1cm;
    }
}